<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>confirm-click</title>
  <script src="node_modules/es5-shim/es5-shim.js"></script>
  <link rel="stylesheet" href="alertify/alertify.core.css" />
  <link rel="stylesheet" href="alertify/alertify.default.css" />
  <script src="alertify/alertify.js"></script>

  <script>
    // just to show 3rd party confirm, should return a boolean
    function ask(question) {
      return confirm('Asking: ' + question);
    }

    function rejectAfterTimeout(question) {
      var injector = angular.element(document.body).injector();
      var $timeout = injector.get('$timeout');
      console.log('reject after timeout question', question);
      console.log('reject after timeout starts delay 1 sec');
      return $timeout(function () {
        console.log('rejectAfterTimeout is returning false');
        return false;
      }, 1000);
    }
  </script>
</head>
<body ng-app="ClickApp">
  <h2>confirm-click</h2>

  <h3>regular href</h3>
  Go to <a href="http://github.com" confirm-click="Go to github?">github.com</a>

  <h3>ng-href</h3>
  Go to <a ng-href="http://github.com" confirm-click="Go to github?">github.com</a>

  <h3>ng-click</h3>
  <section ng-controller="ClickController">
    <button ng-click="popAlert()" confirm-click="Want to see a popup?">pop alert with bool sync confirm</button>
    <button ng-click="popAlert()" confirm-click="Want to see a popup?">pop alert with promise-based rejection</button>
  </section>

  <script src="node_modules/console-log-div/console-log-div.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="confirm-click.js"></script>
  <script src="click-app.js"></script>
</body>
</html>
